<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	
	<style>
	  </style>
</head>
<body>
  <!-- Image header -->
  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="../../assets/MDW 21 PLATFORM (6).png"  width="1550" height="100">
    <div class="w3-display-left w3-padding-large">

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<!-- <h1 class="w3-jumbo w3-text-white w3-hide-big"><b>Welcome To </b></h1>
		<br>
		<h1 class="w3-jumbo w3-text-white w3-hide-big"><b>MDW 21 PLATFORME </b></h1> -->

      <!-- <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>the latest courses uploaded by the instructors.</b></h1> -->
		<!-- <br>
	 <h4 class="w3-text-black">First Time visiting Our Platform ?</h4> -->

		<br> 
  <div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<button class="w3-button w3-blue w3-padding-large w3-large " ><a routerLink="/sing-in"class="w3-bar-item w3-button">GET STARTED NOW</a></button>
  </div>


    </div>
  </header>
 <!-- The Band Section -->
 <div class="w3-container w3-content w3-center w3-padding-64 " style="max-width:800px" id="band" >
    <h2 class="w3-wide">  MDW 21 PLATFORME</h2>
    <p class="w3-text-black"><i>We love coding</i></p>
    <p class="w3-justify ">This platform has been meticulously crafted to simplify the academic journey for MDW 21 students by providing seamless access to their courses and fostering effective communication with both instructors and peers. The primary objective of this functional website is to establish a supportive community where students can collaborate, share knowledge, and navigate the academic challenges of the year together. By facilitating easy interaction, the platform aims to enhance the overall learning experience, aiding students in not only surviving but thriving throughout the academic year. Ultimately, the overarching goal is to contribute to the collective success of the student body, ensuring the attainment of excellent grades and a fulfilling educational journey for all participants.</p>
    <div class="w3-row w3-padding-32">
    </div>
  </div>








  <!-- cards -->

  <div class="wrap">
	<div class="box">
	  <div class="box-top">
		<img class="box-image" src="https://static.vecteezy.com/ti/vecteur-libre/p3/511962-etudiant-glyphe-noir-icone-gratuit-vectoriel.jpg">
		<div class="title-flex">
		  <h3 class="box-title">Student</h3>
		  <p class="user-follow-info"> MDW 21 Student Interface</p>
		</div>
	  </div>
	  <a routerLink="/StudentP" class="button">VISIT</a>
	</div>
	<div class="box">
		<div class="box-top">
		<img class="box-image" src="https://thumb.ac-illust.com/99/998a624213f40a5789d96293b9d67c1f_t.jpeg" alt="Girl Eating Pizza">

		<div class="title-flex">
		  <h3 class="box-title">Instructor</h3>
		  <p class="user-follow-info" >MDW 21 Instructor Interface </p>
		</div>
	  </div>
	  <a href="#" class="button"  routerLink="/profilT" >VISIT</a>
	</div>

	<div class="box">
	  <div class="box-top">
		<img class="box-image" src="https://www.shutterstock.com/image-vector/user-support-icon-vector-600nw-426217342.jpg">
		<div class="title-flex">
		  <h3 class="box-title">Administrator</h3>
		  <p class="user-follow-info">MDW 21 Administrator Interface </p>
		</div>
	  </div>
	  <a href="#" class="button"  routerLink="/Admine-login">VISIT</a>
	</div>
  </div>
<!-- QUOTE  -->
  <div class="w3-container w3-content w3-center w3-padding-64" > 
	<h2 class="w3-wide">Motivation Quote</h2>
	</div>
 <!-- carousel  -->
 <div class="container-xl">
  <div class="row">
	  <div class="col-lg-16 mx-auto">
		  <!-- <h2>Testimonials</h2> -->
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Carousel indicators -->
			  <ol class="carousel-indicators">
				  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				  <li data-target="#myCarousel" data-slide-to="1"></li>
				  <li data-target="#myCarousel" data-slide-to="2"></li>
			  </ol>   
			  <!-- Wrapper for carousel items -->
			  <div class="carousel-inner">
				  <div class="carousel-item active">
					  <div class="img-box"><img src="../../assets/q1.jpg" alt=""></div>
					  <p class="testimonial">"Education is the most powerful weapon which you can use to change the world.</p>
					  <p class="overview"><b>Nelson Mandela</b></p>
				  </div>
				  <div class="carousel-item">
					  <div class="img-box"><img src="../../assets/q2.webp" alt=""></div>
					  <p class="testimonial">Learning is not attained by chance, it must be sought for with ardor and attended to with diligence.</p>
					  <p class="overview"><b>Abigail Adams</b></p>
				  </div>
				  <div class="carousel-item">
					  <div class="img-box"><img src="../../assets/q3.jpg" alt=""></div>
					  <p class="testimonial">Education is the passport to the future, for tomorrow belongs to those who prepare for it today. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
					  <p class="overview"><b>Malcolm X</b></p>
				  </div>
			  </div>
			  <!-- Carousel controls -->
			  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
				  <i class="fa fa-angle-left"></i>
			  </a>
			  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
				  <i class="fa fa-angle-right"></i>
			  </a>
		  </div>
	  </div>
  </div>
</div>



  <!-- courses -->
  <div class="w3-container w3-content w3-center w3-padding-64" >
    <!-- <h2 class="w3-wide">Explore the cours we offer</h2> -->
    </div>
 
    
 <div class="team-boxed">
	<div class="container">
		<div class="intro">
			<h2 class="text-center">Explore the cours we offer</h2>
			<p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
		</div>
		<div class="row people">
			<div class="col-md-6 col-lg-4 item">
				<div class="box"><img class="rounded-circle" src="../../assets/angulaaaaar.png">
					<h3 class="name">Ben Johnson</h3>
					<p class="title">Musician</p>
					<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
					<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 item">
				<div class="box"><img class="rounded-circle" src="../../assets/o.o.p.png">
					<h3 class="name">Emily Clark</h3>
					<p class="title">Artist</p>
					<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
					<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 item">
				<div class="box"><img class="rounded-circle" src="../../assets/seo.avif">
					<h3 class="name">Carl Kent</h3>
					<p class="title">Stylist</p>
					<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
					<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
				</div>
			</div>
		</div>
	</div>
</div>



   
    <!--instracteeeeeeeeeeeeuur  -->
<app-teacher></app-teacher>

      
  
</body>
</html>


 


 





