
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<nav class="bg-dark navbar-dark">
  <div class="container">
    <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>Forest</a>
  </div>
  </nav>

<body>
  <section id="header" class="jumbotron text-center">
    <h1 class="display-3">Our Academic Programs</h1>
</section>



<!-- cours cards  -->
<section id="gallery">
  <div class="container">
    <div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="../../assets/UML2.webp" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">o.o.p course</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="" class="btn btn-outline-success btn-sm">Find Out More</a>
        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
      <img src="../../assets/angulaaaaar.png" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Angular Course </h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="" class="btn btn-outline-success btn-sm"> Find Out More</a>
        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card">
          <img src="../../assets/BDD.png" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Angular course</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
           <a href="" class="btn btn-outline-success btn-sm">Find Out More</a>
            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
          </div>
          </div>
        </div> <div class="col-lg-4 mb-4">
          <div class="card">
              <img src="../../assets/BE.png" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Sunset</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
               <a href="" class="btn btn-outline-success btn-sm">Find Out More</a>
                <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
              </div>
              </div>
            </div> <div class="col-lg-4 mb-4">
              <div class="card">
                  <img src="../../assets/oop2.png" alt="" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Sunset</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                   <a href="" class="btn btn-outline-success btn-sm">Find Out More</a>
                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                  </div>
                  </div>
                </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="../../assets/seo.avif"  alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sunset</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="" class="btn btn-outline-success btn-sm">Find Out More</a>
        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
      
    
            
     </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card">
          <img src="../../assets/editng.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Angular Course </h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
           <a href="" class="btn btn-outline-success btn-sm"> Find Out More</a>
            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
          </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
              <img src="../../assets/reseaux.jpg" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Angular Course </h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
               <a href="" class="btn btn-outline-success btn-sm"> Find Out More</a>
                <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
              </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card">
                  <img src="../../assets/communicationB.jpg" alt="" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Angular Course </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                   <a href="" class="btn btn-outline-success btn-sm"> Find Out More</a>
                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                  </div>
                  </div>
                </div>
  </div>
</div>
</section>

</body>
</html>

  
 
    
  