

   <!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<nav class="bg-dark navbar-dark">
  <div class="container">
    <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>Forest</a>
  </div>
  </nav>
<body>

  <section id="header" class="jumbotron text-center">
    <h1 class="display-3">Optimizing Your Study Approach</h1>
</section>


<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../../assets/mentalH.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Prioritizing Mental Well-being</h1><br>
      <h5 class="w3-center">A Key to Academic Success</h5>
      <p class="w3-large">Taking care of your mental health is crucial when it comes to studying. The demands of academics can be stressful, and a healthy mind is key to facing challenges effectively. Balancing the pressures of exams and deadlines can sometimes lead to anxiety and burnout, so it's essential to prioritize your well-being. By recognizing the connection between a sound mental state and academic success, you're not just ensuring good grades; you're also preparing yourself to handle life's challenges more effectively. Think of it as a fundamental part of your academic toolkit  a way to build resilience and succeed in both your studies and life beyond the classroom.</p>
      <!-- <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Our Menu For Smart Study Hacks for Success</h1><br>
      <h4>-1- Effective Time Management</h4>
      <p class="w3-text-grey"> Prioritize your tasks, allocate specific time blocks for studying, and minimize distractions to make the most of your study sessions.</p><br>
    
      <h4>-2- Active Learning Techniques</h4>
      <p class="w3-text-grey">Engage with the material actively through methods such as summarizing information in your own words, teaching concepts to others, or creating visual aids like mind maps</p><br>
    
      <h4>-3- Varied Study Environment</h4>
      <p class="w3-text-grey">Change your study location occasionally to keep your mind fresh and enhance memory recall. Different environments can stimulate creativity and focus.</p><br>
    
      <h4>-4- Regular Breaks</h4>
      <p class="w3-text-grey"> Breaks are essential for maintaining concentration. Follow the Pomodoro Technique or a similar approach to balance focused study periods with short breaks.</p><br>
      
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="../../assets/studyHakkk3jpg.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <!-- Grid -->
<div class="w3-row">
<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="../../assets/studyHakkk.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>Seek Help When Needed</b></h3>
      <h5>Title description, <span class="w3-opacity">April 7, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p>
        It is highly encouraged that you proactively seek assistance when faced with challenges during your academic journey. Don't hesitate to reach out to your professors, dedicated tutors, or even fellow classmates who might offer valuable insights or perspectives. The act of seeking help is not a sign of weakness but rather a demonstration of strength and dedication to your academic success. Recognizing the areas where you may need clarification or additional support reflects a proactive approach to learning. Engaging with your academic community fosters a collaborative learning environment, enabling you to navigate difficulties more effectively and enhancing your overall educational experience. Embrace the opportunity to seek guidance, as it not only contributes to your individual growth but also fosters a culture of shared knowledge and mutual support within the academic community.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"   ><b><a href="https://www.betterup.com/blog/seeking-help"> READ MORE »</a></b></button></p> 
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="../../assets/studyTips.jpg" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>Optimal Sleep</b></h3>
      <h5>Title description, <span class="w3-opacity">April 2, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p>
        It is imperative to prioritize and ensure you consistently receive an adequate amount of high-quality sleep. Sleep is not only crucial for physical well-being but also plays a pivotal role in the consolidation of memories and the optimal functioning of cognitive processes. During sleep, the brain undergoes various stages that contribute to memory formation and organization of information acquired during wakefulness. Adequate and restful sleep not only enhances memory retention but also promotes overall cognitive function, including critical thinking, problem-solving, and creative processes. Therefore, by prioritizing and maintaining a healthy sleep routine, you actively contribute to the enhancement of your cognitive abilities and academic performance.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b><a href="https://www.sleepfoundation.org/school-and-sleep/final-exams-and-sleep"> READ MORE »</a></b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END BLOG ENTRIES -->



<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="../../assets/studyHakkk.1jpg.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Name</b></h4>
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Lorem</span><br>
        <span>Sed mattis nunc</span>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Ipsum</span><br>
        <span>Praes tinci sed</span>
      </li> 
      <li class="w3-padding-16">
        <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Dorum</span><br>
        <span>Ultricies congue</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Mingsum</span><br>
        <span>Lorem ipsum dipsum</span>
      </li>  
    </ul>
  </div>
</div>
  <hr> 
 <!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="../../assets/studyTips2.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Name</b></h4>
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Lorem</span><br>
        <span>Sed mattis nunc</span>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Ipsum</span><br>
        <span>Praes tinci sed</span>
      </li> 
      <li class="w3-padding-16">
        <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Dorum</span><br>
        <span>Ultricies congue</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Mingsum</span><br>
        <span>Lorem ipsum dipsum</span>
      </li>  
    </ul>
  </div>
</div>
  <hr> 
 

  <hr>

  <!-- Contact Section -->
  <!-- <div class="w3-container w3-padding-64" id="contact">
    <h1>ISET's psychologist Contact</h1><br>
    <p>At ISET, our university is committed to providing comprehensive mental health support to ensure your well-being. Please feel free to reach out to us anytime; we're here to help.</p>
    <p>You can also contact us by phone 00553123-2323 or email IsetPsychologist-gmail.com, or you can send us a message here:</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2020-11-16T20:00"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
    </form>
  </div> -->
  
<!-- End page content -->


<!-- Contact  psy Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">ISET's psychologist Contact</h3>
  <p class="w3-center"><em>At ISET, our university is committed to providing comprehensive mental health support to ensure your well-being. Please feel free to reach out to us anytime; we're here to help.</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="../../assets/psy.jpg" class="w3-image w3-round" style="width:100%">
    </div>
    <div class="w3-col m8 w3-panel">
      <p>You can also contact us by phone 00553123-2323 or email IsetPsychologist-gmail.com,  or you can send us a message here:</p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>
</div>
</div>



</body>
</html>
